apiVersion: v1
kind: Service
metadata:
  labels:
    app: book-store-service
  name: book-store-service
  namespace: default
spec:
  ports:
  - nodePort: 32751
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: book-store-deployment
  type: LoadBalancer